img {
    user-select: none;
    pointer-events: none;
}

.section-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    max-width: 1400px;
    width: 100%;

    margin: auto;

    .slider-container {
        white-space: nowrap;
    }
    
    .slide {
        display: inline-block;
        vertical-align: top;
    
        margin-right: 80px;
        font-size: 0px;
    
        overflow: hidden;
    
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .slide {
        $elements: 100;
        // @for $i from 0 to $elements {
        //     &:nth-child(#{$i}) {
        //         @include resizeSlide(#{$i % 3});
        //     }
        // }
    }
}